.mian-box {
  padding: 20px;
}

.button-group {
  height: 50px;

  .el-button {
    margin: 0 18px;
    font-size: 18px;
  }

  .el-button--primary.is-plain {
    // color       : #00fbff;
    // background  : #13345e;
    // border-color: #00fbff;
    color: #27727b;
    background: #ddd;
    border-color: #fff;
    padding: 12px 34px;
  }

  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    // color: #ffffff;
    // background: #0090b3;
    // border-color: #00fbff;
    color: #fff;
    background: #27727b;
    border-color: #27727b;
  }
}

.main-body {
  padding-top: 20px;
  height: 830px;
  width: 100%;
}

.grid-wrapper {
  height: 830px; //
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .grid-content:not(:last-child) {
    margin-bottom: 10px;
  }
}

.chart-title-wrapper {
  padding: 24px 0;
  text-align: left;

  .chart-title {
    font-size: 16px;
    color: $primary-font-color;

    font-weight: 800;
    padding-left: 28px;
  }
}
