@import "@/styles/_handle.scss";

.mian-box {
  padding: 20px;
}

.button-group {
  height: 50px;

  .el-button {
    margin: 0 18px;
    font-size: 18px;
  }

  .el-button--primary.is-plain {
    @include font_color("button_font_color");
    @include background_color("button_background_color");
    @include border_color("button_border_color");
    padding: 12px 34px;
  }
  .el-button--primary.is-plain.active {
    @include font_color("button_active_font_color");
    @include background_color("button_active_background_color");
    @include border_color("button_active_border_color");
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    @include font_color("button_active_font_color");
    @include background_color("button_active_background_color");
    @include border_color("button_active_border_color");
  }
}

.main-body {
  padding-top: 20px;
  height: 830px;
  width: 100%;
}

.grid-wrapper {
  height: 830px; //
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .grid-content:not(:last-child) {
    margin-bottom: 10px;
  }
}

.chart-title-wrapper {
  padding: 24px 0;
  text-align: left;

  .chart-title {
    font-size: 16px;
    @include font_color("font_color_title");

    font-weight: 800;
    padding-left: 28px;
  }
}

//图1-1，1-2 的文字部分
.chart-info-wrapper {
  display: flex;
  justify-content: space-between;
  height: 130px;
  padding: 0 10px;
  .chart-info {
    flex: 1;
  }
  .info-width {
    padding: 0 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .font-info1 {
    font-size: 24px;
    font-weight: 700;
    @include font_color("font_color_primary");
  }
  .font-info2 {
    font-size: 20px;
    font-weight: 500;
    @include font_color("font_color_primary");
  }

  .font-info3 {
    font-size: 14px;
    font-weight: 500;
    @include font_color("font_color_light");
  }
}
