$primary-background-color: #eee;
$light-background-color: #ddd;
$primary-title-color: #000;
$primary-font-color: #000;

$light-font-color: #333;
$primary-font-size: 48px;
$primary-font-size-middle: 36px;
$menu-font-color: #666;

:export {
  primary-background-color: $primary-background-color;
  light-background-color: $light-background-color;
  primary-title-color: $primary-title-color;
  primary-font-color: $primary-font-color;
  light-font-color: $light-font-color;
  primary-font-size: $primary-font-size;
  primary-font-size-middle: $primary-font-size-middle;
  menu-font-color: $menu-font-color;
}
